html,
body {
  padding: 5%;
  display: inline-flex;
  justify-content: space-around;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: dotted;
}

* {
  box-sizing: content-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: rgb(0, 0, 0);
    margin-bottom: 2%;
  }
  body {
    color: rgb(151, 38, 173);
    background: rgb(235, 198, 198);
    margin-right: 4px;

  }
  .img{width: 60%;}
}
